spring.application.name=second-project-api
spring.datasource.url=jdbc:mysql://localhost:3306/second_project_api_db
spring.datasource.username=root
spring.datasource.password=password
spring.jpa.hibernate.ddl-auto=update

spotify.client.id=
spotify.client.secret=
spotify.redirect.uri=

openai.api-key=
